* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin-top: 20px;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: start;
      background: #999;
}


.alert {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    color: #b50000;
    transition: opacity 0.5s ease, transform 0.5s ease;
}


.alert.hide {
    opacity: 0;
    transform: translateY(-20px);
}
