*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(139, 139, 139); */
    background-color: white;

    font-family: "Google Sans", sans-serif;
}
.main-div{

    margin-top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card-img{
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
}

.card{
    /* max-height: 320px; */
    /* max-width: 320px; */
    height: 320px;
    width: 320px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.5s ease;

    border: 8px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.card:hover{
    transform: scale(1.1);

}
.card-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    gap: 12px;
}




.dotDiv{
    /* background-color: orange; */
    height: 150px;
    width: 150px;
    border-radius: 50%;
    /* transition: all ease-in 0.3s; */
    transition: transform 0.5s ease;

}
.dotDiv:hover{
    /* height: 220px; */
    /* height: 200px; */
    /* width: 220px; */
    /* width: 200px; */
    transform: scale(1.3);
}

/* DIV 1...... */
.div1{
    background-color:#4887f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 80px;
    transition: all ease 0.5s;
    
}
.div1:hover{
    font-size: 120px;
    transition: all ease 0.5s;
    /* background-color:#4887f5; */


}

/* DIV 2........... */
.div2{
    background-color: #eb4a3b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 80px;
    transition: all ease 0.5s;
}
.div2:hover{
    font-size: 120px;
    transition: all ease 0.5s;
    /* background-color: #eb4a3b; */

}

.div3{
    background-color: #fbbf0d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 80px;
    transition: all ease 0.5s;
}
.div3:hover{
    font-size: 120px;
    transition: all ease 0.5s;
    /* background-color: #fbbe0d; */

}
.div4{
    background-color: #329f51;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 80px;
    transition: all ease 0.5s;
}
.div4:hover{
    font-size: 120px;
    transition: all ease 0.5s;
    /* background-color: #329f50; */

}
.div5{
    background-color: #eb4a3b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 80px;
    transition: all ease 0.5s;
}
.div5:hover{
    font-size: 120px;
    transition: all ease 0.5s;
    /* background-color: #eb493b; */

}


