*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(139, 139, 139);
    font-family: 'roboto', sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card{
    height: 500px;
    width: 320px;
    border-radius: 20px;
    overflow: hidden;
}

.dotDiv{
    background-color: orange;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}